#bloque{
    text-align:center;
    width: 1024px;
}

#foto{
    box-shadow: 10px 10px;
}
#perfil{
    text-align: justify;
    padding-left: 250px; 
    padding-right: 250px
}

#revisar{
    list-style: none;
}

#boton{
    background-color:cornflowerblue;
    border-radius: 6px;
    border: 2px solid cornflowerblue;
    width: 600px;  
    height: 35px;    
    margin: 0 auto;
}

#texto{
    color: black;
    text-align: center;
}

#texto:hover{
    color: blue;
}
#texto:active{
    color: coral;  
}

#boton:active{
    background-color: coral;
}

#espacio{
    margin-right: 30px;
}

#parali{
    display: inline-block;
}

#boton1{
    background-color:cornflowerblue;
    border-radius: 6px;
    border: 2px solid cornflowerblue;
    width: 600px;  
    height: 35px;   
    text-align: center; 
}