#bloque{
    text-align:center;
    width: 1024px;
    background-color:cornflowerblue;

}

#bloque ul{
    text-align: left;
}
#foto{
    box-shadow: 10px 10px;
}
#perfil{
    text-align: justify;
    padding-left: 250px; 
    padding-right: 250px
}

#revisar{
    list-style: none;
}

#boton{
    background-color:blue;
    border-radius: 6px;
    border: 2px solid blue;
    width: 600px;  
    height: 35px;    
    margin: 0 auto;
}

#texto{
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#texto:hover{
    color: brown;
}
#texto:active{
    color:brown;  
}

#boton:active{
    background-color: coral;
}
#boton:hover{
    background-color: coral;
}

#espacio{
    margin-right: 30px;
}

#parali{
    display: inline-block;
}

#boton1{
    background-color:blue;
    border-radius: 6px;
    border: 2px solid blue;  
    text-align: center; 
    margin: 0 auto;
}
#boton1:hover{
    background-color: coral;
}